includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  level: 8
  paths:
    - app
    - routes
  excludePaths:
    - tests
  bootstrapFiles:
    - ./vendor/larastan/larastan/bootstrap.php
